.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/pizza.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
}
h1 {
    width: 100%;
    background-color: rgb(245,245,245);
    opacity: 0.5;
    color: black;

}
.container-fluid {
    padding: 0;
}