
body {
    height: 100%;
    background: url("https://wallpaperaccess.com/full/1443455.jpg") no-repeat;
    background-size: 2000px 1600px;
    font-family: 'Smooch Sans', sans-serif;
}

section {
    height: 100%;
    margin: 0.5em;
}

div {
    height: 100%;
    text-align: center;

}

ul {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(50, 203, 145, 0.60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    padding: 10px;
    list-style: none;
    color: #800000;
    font-size: 30px;
}

p {
    height: 100%;
    color: #800000;
    font-size: 45px;
    padding: 85px;
    border-radius: 50%;

}







