body {
    background: rgba(0, 0, 0, 0.13);
}

main {
    width: 95%;
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1015-104d-kstoq8gi.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=93539efc90aff01bd5fa0ebc0c53b9a8");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0.5px solid grey;
}

#map-container {
    padding: 30px;
}

.popup .cards {
    border-radius: 25px;
    margin: 10px;
    width: 50%;
    height: 15em;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

#box-one .cards {
    border-radius: 25px;
    margin: 10px;
    width: 90%;
    height: 9em;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h5 {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    color: #FFFFFF;
}

#p-container {
    padding: 0;
}

#popup #p-container {
    padding: 0;
    width: 100%;
    text-align: center;
}

#popH {
    text-align: center;
    font-size: 40px;
}

.popP {
    text-align: center;
    font-size: 20px;
}

#humidity {
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;

}

#box-one p {
    width: 100%;
}

#temp-high {
    font-size: 50px;
    color: #FFFFFF;
}

.popup #temp-high {
    font-size: 25px;
    color: #FFFFFF;
}

#temp-low {

    color: #848487;
}

.popup #temp-low {
    font-size: 15px;
}

ul {
    padding-top: 14px;


}

li {
    list-style: none;
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
    color: #FFFFFF;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #0fb784;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width: 768px) {
    /* ... */
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* ... */
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* ... */
}